.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 24px;
  display: none;
  /* these files will work with 'display: flex', when modal will be showed */
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 410px) {
  .modal {
    padding: 19px;
  }
}
